body{
    font-family: 'Oswald', sans-serif;  
}
span{
    color:tomato;
}
.head{
    font-size:65px;
    text-align: justify;
}
p{
    font-size: 20px;
    text-align: justify;
}
.link-button{
   background-image:linear-gradient(rgb(255, 129, 79),rgb(231, 93, 68)) ;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
color: white;
font-weight: 500;
    
}
.fast-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
    text-align: justify;

}
.profile-image{
    height: 400px;
    width: 450px;
    padding-top: 5%;
    padding-left:8% ;
    text-align: justify;
} 
#profile2{

height: 400px;
width: 450px;
padding-top: 80px;
text-align: justify;
}


.img{
    height: 300px;
    width: 350px;
    padding: 10px;
    text-align: justify;
   
}
#font{
    font-size: 40px;
}
#part2{
    text-align: justify;
    background-color: rgb(233, 230, 230);
    height: 500px;
    padding-bottom: 10%;
    padding-top: 6%;
}
section{
    height: 500px;
    border: 2px solid red;
    margin-top: 20px;
    text-align: justify;
}
.last-png {
    position:relative;
    text-align: center;
    padding-top: 8%;
}
.left{
    position: absolute;
    top: 62%;
    left: 38%;
    transform: translate(-60%, -40%);
    text-align: justify;
    
    
}
.right{
    position: absolute;
    font-size: larger;
    top: 66%;
    right: 25%;
    transform: translate(-60%, -40%);
   ;
   
}