body{
    font-family: 'Oswald', sans-serif;  
}
span{
    color:tomato;
}
.head{
    font-size:65px;
}
p{
    font-size: 20px;
}
.link-button{
   background-image:linear-gradient(rgb(255, 129, 79),rgb(231, 93, 68)) ;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
color: white;
font-weight: 500;
    
}